.font__poiret {
    font-family: 'Poiret One', cursive;
}

.font__lobsterTwo {
    font-family: 'Lobster Two', cursive;
}
.font__raleway {
    font-family: 'Raleway', sans-serif;
}
.font__julius {
    font-family: 'Julius Sans One', sans-serif;
}
